* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow: hidden;
  padding: 0 24px;
  margin-bottom: 64px; }

.navbar {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.header__image {
  width: calc(100vw + 40px);
  margin-bottom: 24px; }

.header__image--left {
  display: none; }

.header__image--right {
  display: none; }

.main {
  text-align: center; }

.main__title {
  color: #28283d;
  font-size: 40px;
  font-weight: 900;
  font-family: "Red Hat Display", sans-serif;
  line-height: 44px;
  text-align: center;
  margin: 24px 0; }

.main__subtitle {
  color: #87879d;
  font-size: 16px;
  font-weight: 500;
  font-family: "Red Hat Display", sans-serif;
  list-height: 26px;
  text-align: center;
  margin-bottom: 16px; }

.main__cta {
  color: white;
  background-color: #4d96a8;
  border-radius: 29px;
  border: none;
  line-height: 26px;
  cursor: pointer;
  padding: 16px 40px;
  margin-left: 8px;
  margin-right: 8px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: "Red Hat Display", sans-serif;
  margin-bottom: 16px;
  margin-top: 16px; }

.main__cta--highlighted {
  margin-left: 4px;
  letter-spacing: 1px;
  color: #8fe3f9; }

.main__info {
  color: white;
  background-color: #855fb1;
  border-radius: 29px;
  border: none;
  line-height: 26px;
  cursor: pointer;
  padding: 16px 40px;
  margin-left: 8px;
  margin-right: 8px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: "Red Hat Display", sans-serif; }

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  text-align: center;
  margin-bottom: 64px; }

.index {
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 50%;
  width: 56px;
  height: 56px;
  line-height: 56px;
  color: #87879d;
  font-size: 16px;
  font-weight: 900;
  font-family: "Red Hat Display", sans-serif;
  position: relative;
  margin-top: 84px;
  text-align: center; }

.index:before {
  content: "";
  position: absolute;
  top: -84px;
  left: calc(50% - 0.5px);
  height: 84px;
  width: 1px;
  background-color: rgba(135, 135, 157, 0.25); }

.photo-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  row-gap: 24px;
  width: 100%;
  margin: 64px 0; }

.photo-gallery__item {
  width: 100%;
  border-radius: 8px; }

.features__subtitle {
  color: #4d96a8;
  font-size: 16px;
  font-weight: 900;
  font-family: "Red Hat Display", sans-serif;
  line-height: 26px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 24px; }

.features__title {
  color: #28283d;
  font-size: 32px;
  font-weight: 900;
  font-family: "Red Hat Display", sans-serif;
  line-height: 36px;
  margin-bottom: 32px; }

.features__description {
  color: #87879d;
  font-size: 16px;
  font-weight: 500;
  font-family: "Red Hat Display", sans-serif;
  line-height: 26px; }

@media screen and (min-width: 768px) {
  .header {
    padding: 0 155px; }

  .navbar {
    height: 140px; }

  .header__image {
    width: calc(100vw + 52px);
    margin-bottom: 24px; }

  .main__title {
    font-size: 48px;
    line-height: 48px; }

  .photo-gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 11px; }

  .features {
    padding: 0 40px; } }
@media screen and (min-width: 1440px) {
  .header {
    padding: 0 450px; }

  .navbar {
    height: 169px; }

  .header__image {
    display: none; }

  .header__image--left {
    display: block;
    position: absolute;
    top: 169px;
    right: calc(50vw + 358px); }

  .header__image--right {
    display: block;
    position: absolute;
    top: 169px;
    left: calc(50vw + 358px); }

  .main {
    width: 540px; }

  .main__title {
    font-size: 64px;
    line-height: 64px; }

  .main__subtitle {
    font-size: 18px;
    line-height: 26px; }

  .features {
    padding: 0 165px; } }

/*# sourceMappingURL=style.css.map */
