.header
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.navbar
    height: 130px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.header__image
    width: calc(100vw + 40px)
