.header
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100vw
    overflow: hidden
    padding: 0 24px
    margin-bottom: 64px

.navbar
    height: 130px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.header__image
    width: calc(100vw + 40px)
    margin-bottom: 24px

.header__image--left
    display: none

.header__image--right
    display: none

.main
    text-align: center

.main__title
    +text-style($soft-black, 40px, $bold-weight, $red-hat)
    line-height: 44px
    text-align: center
    margin: 24px 0

.main__subtitle
    +text-style($grey, 16px, $normal-weight, $red-hat)
    list-height: 26px
    text-align: center
    margin-bottom: 16px

.main__cta
    +button-style($green)
    margin-bottom: 16px
    margin-top: 16px

.main__cta--highlighted
    margin-left: 4px
    letter-spacing: 1px
    color: $cyan

.main__info
    +button-style($purple)

.features
    display: flex
    flex-direction: column
    align-items: center
    padding: 0 24px
    text-align: center
    margin-bottom: 64px

.index
    border: 1px solid rgba(135, 135, 157, 0.25)
    border-radius: 50%
    width: 56px
    height: 56px
    line-height: 56px
    +text-style($grey, 16px, $bold-weight, $red-hat)
    position: relative
    margin-top: 84px
    text-align: center
    background-color: white

.index:before
    content: ''
    position: absolute
    top: -84px
    left: calc(50% - 0.5px)
    height: 84px
    width: 1px
    background-color: rgba(135, 135, 157, 0.25)

.photo-gallery
    display: grid
    grid-template-columns: 1fr 1fr
    column-gap: 25px
    row-gap: 24px
    width: 100%
    margin: 64px 0

.photo-gallery__item
    width: 100%
    border-radius: 8px

.features__subtitle
    +text-style($green, 16px, $bold-weight, $red-hat)
    line-height: 26px
    letter-spacing: 4px
    text-transform: uppercase
    margin-bottom: 24px

.features__title
    +text-style($soft-black, 32px, $bold-weight, $red-hat)
    line-height: 36px
    margin-bottom: 32px

.features__description
    +text-style($grey, 16px, $normal-weight, $red-hat)
    line-height: 26px

.cta
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    text-align: center

.cta__image
    background-image: url("./assets/images/mobile/image-footer.jpg")
    background-color: $green
    background-blend-mode: multiply
    background-size: cover
    margin-top: -28px
    padding: 92px 24px 72px 24px

.cta__title
    +text-style($soft-white, 32px, $bold-weight, $red-hat)
    line-height: 36px
    margin-bottom: 24px

.cta__description
    +text-style($soft-white, 18px, $normal-weight, $red-hat)
    line-height: 26px
    margin-bottom: 32px

.cta__download
    +button-style($purple)

.cta__download--highlighted
    color: $pink

//TABLET MEDIA QUERY
+tablet-screen()
    .header
        padding: 0 155px

    .navbar
        height: 140px

    .header__image
        width: calc(100vw + 52px)
        margin-bottom: 24px

    .main__title
        font-size: 48px
        line-height: 48px

    .photo-gallery
        grid-template-columns: 1fr 1fr 1fr 1fr
        column-gap: 11px

    .features
        padding: 0 40px

//TABLET MEDIA QUERY
+desktop-screen()
    .header
        padding: 0 450px

    .navbar
        height: 169px

    .header__image
        display: none

    .header__image--left
        display: block
        position: absolute
        top: 169px
        right: calc(50vw + 358px)

    .header__image--right
        display: block
        position: absolute
        top: 169px
        left: calc(50vw + 358px)

    .main
        width: 540px

    .main__title
        font-size: 64px
        line-height: 64px

    .main__subtitle
        font-size: 18px
        line-height: 26px

    .features
        padding: 0 165px
